<div style="margin-left: 35%;">
  <div class="ml-5 card text-center " style="width: 18rem;">
    <h4>FICHA CLIENTE</h4>
    <img src="./../../../../assets/{{cliente.foto}}" class="card-img-top text-center" alt="...">
    <div class="card-body">
      <h5 class="card-title">Nombre: {{cliente.nombre}}</h5>
      <p class="card-text">Id: {{cliente.id}}</p>
      <p class="card-text">Cargo: {{cliente.cargo}}</p>
      <button routerLink="/clientes" class="btn btn-secondary m-2">VOLVER</button>
    </div>
  </div>
</div>
